.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__name {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0%;
  text-align: right;
  width: 194px;
  height: 16px;
  margin: 0 543px 0;
  padding-bottom: 24px;
}

@media screen and (min-widt: 545px) and (max-width: 1024) {
}

@media screen and (min-width: 320px) and (max-width: 544px) {
}
