.header {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__image-logo {
  display: block;
  align-items: center;
  margin-top: 34px;
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: 984px;
}

.header__title {
  max-width: 720px;
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  margin: 91px auto 32px;
}

.header__subtitle {
  max-width: 720px;
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: auto auto 64px;
}

.header__image {
  width: 100%;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header__image-logo {
    max-width: 254px;
    max-height: 66px;
    margin-top: 30px;
  }

  .header__title {
    max-width: 530px;
    font-size: 75px;
    margin: 90px auto 25px;
  }

  .header__subtitle {
    margin: auto auto 30px;
  }

  .header__image {
    max-width: 768px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__image-logo {
    max-width: 188px;
    max-height: 52px;
    margin-top: 20px;
  }

  .header__title {
    max-width: 228px;
    font-size: 40px;
    margin: 50px aut 16px;
  }

  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    margin: auto auto 40px;
  }

  .header__image {
    max-width: 320px;
  }
}
