.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__content {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  max-height: 607px;
  margin: 92px auto 92px;
}

.main__section_title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0%;
  width: 830px;
  height: 174px;
  margin: 0;
  text-align: left;
}

.main__section_quote {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0%;
  width: 738px;
  height: 136px;
  margin: 40px 394px 10px 0;
  text-align: left;
}

.main__section_quote-author {
  width: 732px;
  height: 34px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0%;
  text-align: right;
  margin: 0;
}

.main__section_text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0%;
  width: 722px;
  text-align: left;
  margin: 32px 410px 0 0;
}

@media screen and (min-widt: 545px) and (max-width: 1024) {
}

@media screen and (min-width: 320px) and (max-width: 544px) {
}
