.main {
  width: 100%;
}

.main__content {
  width: 830px;
  height: 607px;
  margin: 0 302px 92px 148px;
}

.main__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  width: 830px;
  height: 174px;
  margin: 0;
  text-align: left;
}

.main__quote {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  width: 738px;
  height: 136px;
  margin: 40px 394px 10px 0;
  text-align: left;
}

.main__quote_author {
  width: 732px;
  height: 34px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  margin: 0;
}

.main__text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  letter-spacing: 0%;
  width: 722px;
  margin-right: 410px;
  margin-top: 32px;
  margin-bottom: 0;
  text-align: left;
}
