.places {
  max-width: 987px;
  width: 100%;
  margin: auto;
}

.places__name {
  max-width: 984px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 48px;
  margin-bottom: 80px;
}

.places__title {
  max-width: 460px;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.places__title_cdmx {
  align-content: end;
}

.places__image {
  box-shadow: 5px 5px 10px 0px #00000040;
  max-width: 460px;
}

.places__image:hover {
  opacity: 50%;
}

.places__image_cdmx {
  max-height: 460px;
}

.places__website {
  max-width: 456px;
  align-content: end;
}

.places__pharagraphs {
  max-width: 484px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.places__pharagraph {
  max-width: 484px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0 0 25px 0;
}

.places__button {
  box-shadow: 5px 5px 10px 0px #00000040;
  max-width: 289px;
  max-height: 40px;
  min-height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.places__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__artist {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 0 0 8px;
}

.places__artist-name {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .places {
    max-width: 720px;
  }

  .places__name {
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(4, auto);
    grid-gap: 30px;
  }

  .places__title {
    font-size: 42px;
    line-height: 46px;

    margin: 0;
    align-content: end;
  }

  .places__website {
    max-width: 340px;
    margin: 0;
  }

  .places__image {
    max-width: 100%;
  }

  .places__pharagraphs {
    width: 100%;
    font-size: 16px;
  }

  .places__pharagraph {
    max-width: 352px;
  }

  .places__button {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }

  .places__name_cdmx {
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .places {
    max-width: 320px;
  }

  .places__name {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    gap: 30px;
    margin-bottom: 50px;
  }

  .places__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .places__pharagraph {
    font-size: 16px;
  }

  .places__pharagraphs {
    max-width: 100%;
    grid-column-start: 1;
    grid-row-start: 4;
  }

  .places__website {
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .places__image {
    max-width: 320px;
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .places__title {
    font-size: 32px;
    line-height: 35px;

    margin: 0;
    align-content: end;
  }

  .places__button {
    font-size: 12px;
    grid-column-start: 1;
    grid-row-start: 5;
  }

  .places__name_cdmx {
    padding: 0;
  }
}
